.sp_JgIg-tK-MLy{background-image:url(/rsrc.php/v3/yB/r/n1YonAhJEJK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_JgIg-tK-MLy.sx_7f73ed{background-position:0 0}.sp_JgIg-tK-MLy.sx_85d5c6{background-position:0 -17px}

#bootloader_VcVwR_4{height:42px;}.bootloader_VcVwR_4{display:block!important;}