@charset "utf-8";   

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;    font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

img, div {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);

	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;    
}

.container {
	display: none;
	width: 298px;
	height: 598px;
	background-color: #408ffc;
	border: #2c76dc 1px solid;
	overflow: hidden;
}

.adsize {
    width: 300px;
    height: 600px;
}

.abs {
	position: absolute;

	margin: 0;
	padding: 0;
}

.btn {
	cursor: pointer;
}

.bg-hotspot {
    background-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
}

#logo_btn {
	background-color: transparent;
	opacity: 0;
	bottom: 12px;
	left: 0;
	width: 165px;
	height: 50px;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 600px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#headline_holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 208px;
}

#headline {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 24px;
	font-size: 40px;
	line-height: 1;
	color: #fff;
	width: 245px;
	height: auto;
	font-family: 'Source Serif Pro', serif;
	font-weight: 600;
}

#content_holder {
	position: absolute;
	top: 442px;
	left: 0;
	width: 100%;

}

#subheadline {
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
	/*width: 220px;*/
	font-size: 21px;
	line-height: 1;
	color: #fff;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	text-align: center;
	/*white-space: nowrap;*/
}

#copy {
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	/*width: 220px;*/
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-family: 'Proxima Nova Rg';
	text-align: center;
}

#cta_btn {
	position: absolute;
	bottom: 20px;
	right: 28px;
	font-size: 14px;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	color: #fff;
	background-color: #1c2a3c;
	padding: 8px 10px;
	cursor: pointer;
	text-align: center;
}

#cta_btn p {
	pointer-events: none;
	text-align: center;
	white-space: nowrap;
}

#leftarrow {
	position: absolute;
	top: 454px;
	left: 12px;
	cursor: pointer;
	padding: 10px;
}

#rightarrow {
	position: absolute;
	top: 454px;
	right: 12px;
	cursor: pointer;
	padding: 10px;
}