html {
  scroll-behavior: smooth; }

/* .zone-main_top, .zone-main_bottom {
	margin: 0 0 33px 0 !important;
	padding: 5px 0 !important;
} */
.form-ad {
  background: #005a7c;
  background: linear-gradient(135deg, #005a7c 0%, #009ace 100%);
  border-radius: 4px;
  padding: 25px;
  transition: max-height .4s ease-in-out;
  width: 100%; }
  .form-ad .adHeadline, .form-ad .ad-headline {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0; }
  .form-ad .adCopy, .form-ad ad-copy {
    font-size: 16px;
    margin: 0 0 25px 0; }
  .form-ad .ad-cta-wrapper {
    display: block;
    height: 42px;
    text-align: left; }
  .form-ad .adButton, .form-ad .ad-cta-wrapper .ad-cta {
    background-color: white;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #007EA8 !important;
    display: inline-block !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 165%;
    margin: 0;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .2s ease-in-out; }
    .form-ad .adButton:active, .form-ad .adButton:focus, .form-ad .adButton:hover, .form-ad .ad-cta-wrapper .ad-cta:active, .form-ad .ad-cta-wrapper .ad-cta:focus, .form-ad .ad-cta-wrapper .ad-cta:hover {
      background-color: rgba(255, 255, 255, 0.85);
      color: #005875;
      text-decoration: none; }
    .form-ad .adButton:focus, .form-ad .ad-cta-wrapper .ad-cta:focus {
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.35);
      outline: none; }

.form-outer-wrapper {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  display: none;
  margin: 20px 0 0 0;
  min-height: 821px;
  overflow: hidden;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 660px) {
    .form-outer-wrapper {
      min-height: 560px !important; } }
  @media screen and (min-width: 711px) {
    .form-outer-wrapper {
      min-height: 863px !important; } }
  @media screen and (min-width: 815px) {
    .form-outer-wrapper {
      min-height: 815px !important; } }
  @media screen and (min-width: 990px) {
    .form-outer-wrapper {
      min-height: 560px !important; } }
  .form-outer-wrapper .form-inner-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    transition: left .4s ease-in-out;
    width: 300%; }

@media screen and (min-width: 660px) {
  .form-outer-wrapper-secondary {
    min-height: 515px !important; } }
@media screen and (min-width: 711px) {
  .form-outer-wrapper-secondary {
    min-height: 821px !important; } }
@media screen and (min-width: 815px) {
  .form-outer-wrapper-secondary {
    min-height: 815px !important; } }
@media screen and (min-width: 990px) {
  .form-outer-wrapper-secondary {
    min-height: 554px !important; } }

.form-error, .form-main, .form-success {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: calc((1/3) * 100%);
  z-index: 90; }

.form-main .form, .form-main .form-secondary {
  margin: auto 0 0 0; }
  .form-main .form div, .form-main .form-secondary div {
    height: 671px !important;
    max-height: none !important;
    min-height: auto !important; }
    @media screen and (min-width: 659px) {
      .form-main .form div, .form-main .form-secondary div {
        height: 394px !important; } }
    @media screen and (min-width: 709px) {
      .form-main .form div, .form-main .form-secondary div {
        height: 671px !important; } }
    @media screen and (min-width: 989px) {
      .form-main .form div, .form-main .form-secondary div {
        height: 394px !important; } }
.form-main .form-secondary {
  margin: auto 0 0 0; }
  .form-main .form-secondary div {
    height: 744px !important;
    max-height: none !important;
    min-height: auto !important; }
    @media screen and (min-width: 659px) {
      .form-main .form-secondary div {
        height: 487px !important; } }
    @media screen and (min-width: 709px) {
      .form-main .form-secondary div {
        height: 744px !important; } }
    @media screen and (min-width: 989px) {
      .form-main .form-secondary div {
        height: 487px !important; } }

.form-success .countdown {
  font-weight: bold; }

.form-headline {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 0 10px; }

.form-subheadline {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 10px; }

.form-paragraph {
  font-size: 16px;
  margin: 0;
  padding: 10px; }

.processing-wrapper {
  align-items: center;
  border-radius: 4px;
  background-color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .4s ease-in-out;
  width: 100%;
  z-index: 95; }
  .processing-wrapper .processing {
    fill: #005A7C;
    height: 44px;
    width: 44px; }

@-webkit-keyframes isi-rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes isi-rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotate {
  animation: isi-rotate 2s linear infinite;
  -moz-animation: isi-rotate 2s linear infinite;
  -ms-animation: isi-rotate 2s linear infinite;
  -o-animation: isi-rotate 2s linear infinite;
  -webkit-animation: isi-rotate 2s linear infinite; }

.form-modal-screen {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  min-height: auto !important;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .2s ease-in-out 0s, z-index .2s ease-in-out .2s;
  z-index: 99999999; }
  @media screen and (min-width: 660px) {
    .form-modal-screen {
      min-height: auto !important; } }
  @media screen and (min-width: 711px) {
    .form-modal-screen {
      min-height: auto !important; } }
  @media screen and (min-width: 815px) {
    .form-modal-screen {
      min-height: auto !important; } }
  @media screen and (min-width: 990px) {
    .form-modal-screen {
      min-height: auto !important; } }
  .form-modal-screen .form-outer-wrapper {
    background-color: white !important;
    height: 575px;
    margin: 20px;
    min-height: auto !important;
    max-width: 625px; }
    @media screen and (min-width: 660px) {
      .form-modal-screen .form-outer-wrapper {
        height: auto;
        margin: auto;
        min-height: 545px !important;
        max-width: 625px; } }
    @media screen and (min-width: 711px) {
      .form-modal-screen .form-outer-wrapper {
        min-height: 555px !important; } }
    @media screen and (min-width: 815px) {
      .form-modal-screen .form-outer-wrapper {
        min-height: 555px !important; } }
    @media screen and (min-width: 990px) {
      .form-modal-screen .form-outer-wrapper {
        min-height: 555px !important; } }
    .form-modal-screen .form-outer-wrapper .isi-modal-close {
      align-items: center;
      background-color: white;
      border: 2px solid white;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      height: 30px;
      justify-content: center;
      padding: 2px;
      position: absolute;
      top: 12px;
      right: 12px;
      transition: border .2s ease-in-out;
      width: 30px;
      z-index: 99999999; }
      .form-modal-screen .form-outer-wrapper .isi-modal-close svg {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        height: 22px;
        width: 22px; }
      .form-modal-screen .form-outer-wrapper .isi-modal-close:active {
        border: 2px solid #007EA8; }
      .form-modal-screen .form-outer-wrapper .isi-modal-close:focus, .form-modal-screen .form-outer-wrapper .isi-modal-close:hover {
        border: 2px solid #53565A; }
  .form-modal-screen .form-outer-wrapper-primary {
    background-color: gainsboro; }
    @media screen and (min-width: 660px) {
      .form-modal-screen .form-outer-wrapper-primary {
        min-height: 525px !important; } }
    @media screen and (min-width: 711px) {
      .form-modal-screen .form-outer-wrapper-primary {
        min-height: 525px !important; } }
    @media screen and (min-width: 815px) {
      .form-modal-screen .form-outer-wrapper-primary {
        min-height: 525px !important; } }
    @media screen and (min-width: 990px) {
      .form-modal-screen .form-outer-wrapper-primary {
        min-height: 525px !important; } }

/*# sourceMappingURL=resForms.css.map */
