/* lakesd6531 : Wed, 07 Nov 2018 16:58:38 +0800 */
#comment-form table    {    width: 96% ;    margin: 0 auto ;}
#comment-form td , #comment-form th    {    border: 1px solid #555 ;    padding: 3px 5px;    }
#comment-form input#send-comment    {    padding: 3px 5px ;    }

.article-content p{
margin-bottom:1em;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img {
border:0;
}
address,caption,cite,code,dfn,em,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym {
border:0;
}
pre{
font-size: 1em ;
}
.article-content{
_height: 1% ;
overflow: hidden ;
_overflow: none;
}



/* --------------------------------------------------------------- 大範圍區塊 ---------------------------------------------------------------*/

/*--整體設定--*/
body{
font-size:small ;
font-family:"Verdana" ;
}
#body-div{}

/*--超連結--*/
a{
color:#555 ;
text-decoration:none ;
}
/*--滑鼠移動到超連結上時--*/
a:hover{
color:#555 ;
text-decoration: none ;
}




/*--登入後最上方的後台功能列--*/
#authority{
background:#fff ;
padding: 10px 0px ;
text-align:center ;
}
/*--登入後最上方的後台功能列的所有按鈕--*/
#authority a{
background:#aaa ;
padding:2px 10px ;
color:#fff ;
}
/*--發表新文章功能鈕--*/
#authority #newpost{}
/*--進入後台功能鈕--*/
#authority #backstage{}


/*--所有內容--*/
#container{
width:96%;
margin:10px auto 10px auto ;
background:#fff ;
}
#container2{
padding:10px ;
}
#container3{}


/*--主要內容區+側邊欄位區--*/
#main{}





/* --------------------------------------------------------------- 頁首 ---------------------------------------------------------------*/

#header{
background:#fff ;
padding:10px;
margin-bottom:10px;
}


/*--登入功能列--*/
#login-bar{
text-align:right ;
}


/*--頁面上方區塊-不包括登入功能列--*/
#banner{}


/*--部落格標題--*/
#banner h1 a{
font-size: large ;
font-weight:bold ;
}


/*--跳到主文--*/
#banner .skiplink{
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
}


/*--部落格描述--*/
#banner h2{
color: #888;
padding-left: 20px;
padding-right: 20px;
}


/*--部落格全站分類--*/
#blog-category{
padding-top: 5px;
padding-left: 20px;
padding-right: 20px;
}



/*--其他服務連結區塊--*/
#navigation{
background:#fff ;
float: right;
overflow:hidden ;
_overflow:none  ;
_height:1% ;
padding: 10px ;
}

/*--其他服務連結區塊內的所有連結--*/
#navigation a{
display:block ;
text-align:center ;
color:#555 ;
background:#fff ;
padding: 5px 0px ;
}
/*--其他服務連結區塊內的所有項目--*/
#navigation li{
float:left ;
margin: 0px 10px 0px 0px ;
}

/*--其他服務連結-相簿--*/
#link-album{}
/*--其他服務連結-部落格--*/
#link-blog{}
/*--其他服務連結-留言版--*/
#link-guestbook{}
/*--其他服務連結-名片--*/
#link-profile{}





/* --------------------------------------------------------------- 主要內容區 ---------------------------------------------------------------*/

/*--主要內容區--*/
#content{
width:70% ;
float:left ;
background:#fff ;
padding:10px ;
}


/*--公告注目區--*/
#spotlight{
background:#fff ;
padding:10px;
margin-bottom: 10px ;
}

/*--公告注目區標題--*/
#spotlight h5{
color:#000 ;
background:#fff ;
text-align:Center ;
padding:3px 0px ;
margin-bottom: 5px ;
}


/*--公告注目區內容--*/
#spotlight-text{}


/*--所有文章區塊--*/
#article-area{}


/*--所有文章區塊標題--*/
.article-area-title{
background:#fff ;
}


/*--瀏覽方式--*/
#display{
text-align:right;
margin : 5px 0px ;
}
/*--瀏覽方式這四個字--*/
#display span{}
/*--標題列表/簡短摘要--*/
#display a{}


/*--單一篇文章--*/
.article{
background:#fff ;
margin-bottom: 20px ;
border-top: 1px dotted #aaa;
padding-top: 20px;
color: #555;
}


/*--單一篇文章最上方--*/
.article-head{
background:#fff ;
padding: 5px;
margin-bottom: 10px ;
}


/*--發表時間--*/
.publish{}
/*--月份--*/
.month{}
/*--日期--*/
.date{}
/*--星期--*/
.day{}
/*--年--*/
.year{}
/*--時間--*/
.time{}



/*--文章標題--*/
.title h2 a{
font-size: medium ;
font-weight: bolder;
color:#000000 ;
}
/*--文章標題前的密碼圖示/隱藏圖示/好友保護圖示--*/
.title h2 img{}


/*--單一篇文章中間區塊--*/
.article-body{}


/*--加入書籤--*/
.bookmark{
text-align:right ;
}


/*--文章內容--*/
.article-content{
line-height: 120% ;
margin : 5px 0px ;
padding: 10px;
}


/*--繼續閱讀--*/
.more{
padding-top: 15px;
}


/*--發表時間--*/
.author{
text-align:right ;
margin: 5px 0px 0px 0px ;
padding-bottom: 5px ;
}


/*--單一篇文章最下方--*/
.article-footer{
background:#fff ;
padding: 5px 10px  ;
}


/*--此篇文章分類 : 個人分類+全站分類--*/
.refer{}


/*--歷史上的今天--*/
.history{}

/*--轉寄文章--*/
.forward{
text-align:right ;
}


/*--回到頁首--*/
.back-to-top{
text-align:right ;
}









/* --------------------------------------------------------------- 引用及回應列表 ---------------------------------------------------------------*/

/*--引用及回應列表全部的大範圍--*/
#user-post{
background:#fff;
padding:15px;
margin-bottom: 20px ;
border-bottom: 1px dotted #aaa;
}


/*--僅引用區塊--*/
#trackback-box{
margin-bottom: 20px;
}


/*--僅回應列表--*/
#comment-box{
}


/*--引用列表+回應列表--*/
.user-post-box{
background:#fff ;
padding: 10px;
border-top: 1px dotted #aaa;
}


/*--引用列表標題--*/
#trackback-title{}


/*--回應列表標題--*/
#comment-title{}


/*--引用列表標題+回應列表標題--*/
.user-post-title{
background:#fff;
color:#000 ;
padding: 5px 10px ;
font-size: medium ;
margin-bottom: 10px ;
}


/*--引用內容區塊--*/
#trackback-text{}


/*--回應內容區塊--*/
#comment-text{}


/*--引用內容區塊+回應內容區塊--*/
.user-post-text{
background:#fff ;
padding:20px ;
}


/*--單一引用--*/
#trackback-box .single-post{}


/*--單一回應--*/
#comment-box .single-post{}


/*--單一引用+單一回應--*/
.single-post{
background:#fff ;
margin-bottom: 20px ;
padding: 10px ;
overflow:hidden ;
_overflow:none ;
_height: 1% ;
}


/*--引用者資訊+回應者資訊--*/
.post-info{
border-bottom: 1px dashed #bbb ;
padding-bottom: 5px ;
margin-bottom: 10px ;
font-weight:bold ;
}


/*--單一引用內容+單一回應內容--*/
.post-text{
width: 72%;
float:right ;
margin-bottom: 10px ;
}
#trackback-box .post-text{
width: auto ;
float:none ;
}


/*--單一引用標題+單一回應標題--*/
.post-text p{}


/*--回應者頭像--*/
.post-photo{
width:20% ;
float:left ;
text-align:Center ;
}


/*--版主回覆內容--*/
.reply-text{
clear:both ;
border-top: 1px dashed #bbb ;
padding-top: 5px ;
}


/*--版主回覆資訊--*/
.reply-text p{}


/*--悄悄話--*/
.secret{}


/*--留下迴響--*/
.post-comment{
text-align:right ;
margin: 5px 0px ;
font-size: medium ;
}









/* --------------------------------------------------------------- 列表模式的文章區塊 ---------------------------------------------------------------*/

/*--列表--*/
.main-list{
background:#fff ;
padding:10px ;
margin-bottom: 15px ;
}


/*--列表表格--*/
.main-list table{
width:95% ;
margin:10px;
}

/*--列表標題--*/
.main-list h3{
background:#fff ;
padding: 5px 10px ;
margin-bottom: 10px;
}


/*--列表表頭表格--*/
.main-list th{
border:1px solid #888 ;
padding: 2px;
}


/*--列表一般表格--*/
.main-list td{
padding: 2px;
}


/*--列表文章名稱--*/
.main-list a{
}


/*--所有文章列表--*/
#article-list{}


/*--單一分類文章列表--*/
#category-list{}


/*--所有歷史狀態列表--*/
#murmur-list{}

/*--頁數--*/
.page{}













/* --------------------------------------------------------------- 側邊欄位區 ---------------------------------------------------------------*/

/*--側邊欄位區--*/
#links{
width:24% ;
float:right ;
background:#fff ;
padding:10px ;
}


/*--三欄式的第一欄--*/
#links-row-1{}


/*--三欄式的第二欄--*/
#links-row-2{}


/*--單一功能區塊--*/
.box{
padding: 10px;
margin-bottom: 15px ;
}


/*--單一功能區塊標題'--*/
.box-title{
background:#fff ;
text-align:right ;
padding: 4px ;
font-size: medium ;
margin-bottom: 10px ;
border-bottom: dashed 1px #aaa;
}


/*--單一功能區塊內容--*/
.box-text{
}


/*--單一功能區塊項目--*/
.box-text li{
margin: 5px 0px ;
}


/*--單一功能區塊超連結--*/
.box-text a{
}



/*--誰來我家--*/
#visitor{}
/*--誰來我家標頭--*/
#visitor .box-title{}
/*--誰來我家內容區塊--*/
#visitor .box-text{}
/*--單一頭像列表--*/
#visitor ul{
_height: 1% ;
overflow: hidden ;
_overflow: none ;
}
/*--單一頭像--*/
#visitor li{
float:left;
}
/*--所有訪客列表--*/
#visitor .box-more{}



/*--我去誰家--*/
#crumb{}
/*--我去誰家標頭--*/
#crumb .box-title{}
/*--我去誰家內容區塊--*/
#crumb .box-text{}
/*--單一頭像列表--*/
#crumb ul{
_height: 1% ;
overflow: hidden ;
_overflow: none ;
}
/*--單一頭像--*/
#crumb li{
float:left;
}
/*--所有瀏覽列表--*/
#crumb .box-more{}



/*--站方公告--*/
#announce{}
/*--站方公告標頭--*/
#announce .box-title{}
/*--站方公告內容區塊--*/
#announce .box-text{}
/*--一條站方公告--*/
#announce a{}




/*--碎碎唸--*/
#murmur{}
/*--碎碎唸標頭--*/
#murmur .box-title{}
/*--碎碎唸內容區塊--*/
#murmur .box-text{}
/*--發表時間--*/
#my-time{}
/*碎碎唸文字內容*/
#murmur-text{}




/*--好友的碎碎唸聯播--*/
#broadcast{}
/*--好友的碎碎唸標頭--*/
#broadcast .box-title{}
/*--好友的碎碎唸內容區塊--*/
#broadcast .box-text{}
/*--一個好友的內容--*/
#broadcast .box-text ul{
border-bottom: 1px dashed #777 ;
_height:1% ;
overflow: hidden ;
_overflow: none ;
}
/*--好友的頭像--*/
.broadcast-photo{
float:left ;
width:40px ;
}
/*--好友的碎碎唸發表時間--*/
.broadcast-time{}
/*--好友的碎碎唸發表內容--*/
.broadcast-text{}








/*--個人頭像--*/
#headshot{}
/*--個人頭像標頭--*/
#headshot .box-title{}
/*--個人頭像內容區塊--*/
#headshot .box-text{}
/*--個人頭像那張照片--*/
#headshot .box-text img{}



/*--搜尋--*/
#search{}
/*--搜尋標頭--*/
#search .box-title{}
/*--搜尋內容區塊--*/
#search .box-text{}
/*--搜尋輸入文字欄位--*/
#search-target{}
/*--搜尋確定鈕--*/
#search-send{}



/*--本日人氣--*/
#counter{}
/*--本日人氣標頭--*/
#counter .box-title{}
/*--本日人氣內容區塊--*/
#counter .box-text{}
/*--人氣數字--*/
#countr .box-text span{}



/*--更換樣式--*/
#change-theme{}
/*--更換樣式標頭--*/
#change-theme .box-title{}
/*--更換樣式內容區塊--*/
#change-theme .box-text{}
/*--更換樣式選單--*/
#change-theme select{}



/*--新聞交換rss--*/
#feed{}
/*--新聞交換標頭--*/
#feed .box-title{}
/*--新聞交換內容區塊--*/
#feed .box-text{}
/*--新聞交換icon--*/
#feed img{}



/*--月曆--*/
#calendar{}
/*--月曆標頭--*/
#calendar .box-title{}
/*--月曆內容區塊--*/
#calendar .box-text{}
/*--月曆-月曆表格--*/
#calendar table{}
/*--月曆-選擇月份的那一欄--*/
#calendar .calMonthNav{}
/*--月曆-星期幾的那一欄--*/
#calendar .calMonthHeader{}
/*--月曆-日期儲存格--*/
#calendar td{}
/*--月曆-當天有寫文章的儲存格--*/
#calendar td a{}



/*--近期文章--*/
#recent-article{}
/*--近期文章標頭--*/
#recent-article .box-title{}
/*--近期文章內容區塊--*/
#recent-article .box-text{}
/*--近期文章文章標題--*/
#recent-article .box-text a{}



/*--人氣文章--*/
#hot-article{}
/*--人氣文章標頭--*/
#hot-article .box-title{}
/*--人氣文章內容區塊--*/
#hot-article .box-text{}
/*--人氣文章文章標題--*/
#hot-article .box-text a{}



/*--文章分類--*/
#category{}
/*--文章分類標頭--*/
#category .box-title{}
/*--文章分類內容區塊--*/
#category .box-text{}
/*--文章分類的分類目錄--*/
#category .box-text h6{}
/*--文章分類的文章分類名稱--*/
#category .box-text li a{}



/*--文章彙整--*/
#archive{}
/*--文章彙整標頭--*/
#archive .box-title{}
/*--文章彙整內容區塊--*/
#archive .box-text{}
/*--文章彙整月份選單--*/
#archive .box-text select{}
/*--所有文章列表--*/
#archive .box-text li a{}



/*--最新迴響--*/
#latest-comment{}
/*--最新迴響標頭--*/
#latest-comment .box-title{}
/*--最新迴響內容區塊--*/
#latest-comment .box-text{}
/*--最新迴響-迴響日期--*/
#latest-comment .box-text span{}
/*--最新迴響-迴響摘要--*/
#latest-comment .box-text li a{}



/*--最新引用--*/
#latest-trackback{}
/*--最新引用標頭--*/
#latest-trackback .boc-title{}
/*--最新引用內容區塊--*/
#latest-trackback .box-text{}
/*--最新引用-引用過去的文章標題--*/
#latest-trackback .box-text li a{}
/*--最新引用-引用過去的部落格主標--*/
#latest-trackback .box-text li span{}




/*--最新訂閱--*/
#subscription{}
/*--最新訂閱標頭--*/
#subscription .box-title{}
/*--最新訂閱內容區塊--*/
#subscription .box-text{}
/*--最新訂閱-訂閱對方的新文章標題--*/
#subscription .box-text li a{}
/*--最新訂閱-訂閱對方的部落格主標--*/
#subscription .box-text li span{}



/*--我的蒐藏--*/
#favorite{}
/*--我的蒐藏標頭--*/
#favorite .box-title{}
/*--我的蒐藏內容區塊--*/
#favorite .box-text{}
/*--我的蒐藏選單--*/
#favorite .box-text select{}




/*--我的連結--*/
#mylink{}
/*--我的連結標頭--*/
#mylink .box-title{}
/*--我的連結內容區塊--*/
#mylink .box-text{}
/*--我的連結-單一分類--*/
#my-link .box-text .link-box{}
/*--我的連結-單一分類標題--*/
#my-link .box-text .link-box h6{}
/*--我的連結-單一連結--*/
#my-link .box-text .link-box li a{}




/*--所有自訂欄位--*/
.folder{}
/*--所有自訂欄位標頭--*/
.folder .box-title{}
/*--所有自訂欄位內容區塊--*/
.folder .box-text{}



/*--powered--*/
#powered{}
/*--powered標頭--*/
#powered .box-title{}
/*--powered內容區塊--*/
#powered .box-text{}





/*--頁尾--*/
#footer{
clear:both ;
background:#fff ;
padding:5px 10px ;
text-align:center ;
}


/*--頁尾-自訂聲明--*/
#footer p{}


/*--頁尾-pixnet連結--*/
#footer #bottom{}